body{
    font-family:Plus Jakarta Sans;
    width:1440px;
    height:auto;
    background-color: hsla(205, 33%, 90%, 0.595);
}
.container{
    border:2px solid hsl(0, 0%, 100%);
    width:700px;
    margin:20px auto;
    height:auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
header{
    display:flex;
    justify-content:space-between;
}
.notify{
    color:hsl(224, 21%, 14%);
    margin-left:3rem ;
    font-size: 24px;
    margin-top: 2rem;
}
.notification-btn{
    border-radius: 4px;
    background:hsl(219, 85%, 26%);
    transform:translateY(-5px);
    color:hsl(0, 0%, 100%);
}
.first-notification{
    border:2px solid blue;
}
.article{
    display:flex;
    align-items:center;
    gap:5px;
}
 .notification{
    border:2px solid hsl(0, 0%, 100%);
    padding:5px 5px 5px 20px;
    margin:0 auto 10px auto;
    background:hsl(0, 0%, 100%);
    width:580px;
    border-radius: 24px;
    
}
.unreadNotification{
    border:2px solid hsl(205,33%,90%,0.595);
    padding:5px 5px 5px 20px;
    margin:0 auto 10px auto;
    background: hsl(205, 33%, 90%,0.595);
    width:580px;
    border-radius: 24px;
}
p{
    font-size: 16px;
}
.notification-badge{
    width:7px;
    height:5px;
    background-color:hsl(1, 90%, 64%);
    border-radius: 100%;
    margin-right:-20px;
    margin-top:-35px;
    display:block;
}
.time{
    padding-left:95px;
    margin-top:-40px;
    display:block;
     
}
p{
    margin-top:-20px;
}
.private-message{
     border:2px solid blue;
     padding: 1.5rem 2rem 0rem 0.5rem;
     width:350px;
     margin-bottom:0;
     margin-left:auto;
     margin-right: auto;
     border-radius:24px;
     display:none;
}
.show-message.private-message{
    border:1px solid hsl(219, 14%, 63%);
     padding: 1.5rem 2rem 0rem 0.5rem;
     width:445px;
     margin-bottom:0;
     margin-left:92px;
     border-radius:4px;
     display:block;
}
.show-text.private-message{
    border:2px solid blue;
    padding: 1.5rem 2rem 0rem 0.5rem;
    width:500px;
    margin-bottom:0;
    margin-left:40px;
    border-radius:24px;
}
.picture-uploaded{
    margin-left:80px;
}
.read-notification.unreadNotification{
    border:2px solid hsl(0, 0%, 100%);
    padding:5px 5px 5px 20px;
    margin:0 auto 10px auto;
    background:hsl(0, 0%, 100%);
    width:580px;
    border-radius: 24px;
}
.read-notification.notification-badge{
    display:none;
}
.secondary-button{
    border:none;
    background:none;
    cursor:pointer;
    color:hsl(224, 21%, 14%);
    margin-right:2rem;
    font-size: 16px;
}
